### Joining Data From Previous Notebooks
(the two files containing demographic & soccer activity/rent data)

---

In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd

In [2]:
demographics_LA_OC = pd.read_csv('demographics_LA_OC.csv')  # Only includes LA & OC cities

In [3]:
all_rent_activity_data = pd.read_csv('all_rent_activity_data.csv')  # Contains all map cities (including those not in LA or OC)

In [4]:
demographics_LA_OC.tail(1)

,City,Median_Age,Median_Income,Normalized_Income,Male_Percent,Hispanic_Percent
112,Woodland Hills,37.0,27200.0,0.41,0.5,0.31

In [5]:
all_rent_activity_data.tail(1)

,City,Avg Rent - Office,Avg Rent - Industrial,Avg Rent - Retail,Soccer_Activity
196,Jurupa Valley,0.0,0.0,0.0,0.0

- Add rows w/ cities from all_rent_activity_data that aren't in demographics_LA_OC
- Fill city col w/ cities not in demographics_LA_OC
- Fill empty cells w/ avg. col values
- Merge w/ all_rent_activity_data (to include rent/activity data)

In [6]:
for city in demographics_LA_OC.City:
    if city not in all_rent_activity_data.City.values:
        print(city)

Palos Verdes
Woodland Hills

In [7]:
demographics_LA_OC = demographics_LA_OC[~demographics_LA_OC.City.isin(['Palos Verdes', 'Woodland Hills'])]

In [8]:
demographics_LA_OC.shape[0]

111

In [9]:
missing = []
for city in all_rent_activity_data.City:
    if city not in demographics_LA_OC.City.values:
        missing.append(city)

In [10]:
missing_cities_df = pd.DataFrame(index=range(len(missing)), columns=demographics_LA_OC.columns)

In [11]:
missing_cities_df['City'] = missing

In [12]:
missing_cities_df.head(1)

,City,Median_Age,Median_Income,Normalized_Income,Male_Percent,Hispanic_Percent
0,Palos Verdes Estates,NaN,NaN,NaN,NaN,NaN

In [13]:
all_rent_activity_data.tail()

,City,Avg Rent - Office,Avg Rent - Industrial,Avg Rent - Retail,Soccer_Activity
192,Unincorporated,0.0,0.0,0.0,0.0
193,Palm Springs,0.0,0.0,0.0,0.0
194,Unincorporated,0.0,0.0,0.0,0.0
195,Banning,0.0,0.0,0.0,0.0
196,Jurupa Valley,0.0,0.0,0.0,0.0

In [14]:
for col in missing_cities_df.columns[1:]:
    missing_cities_df[col] = demographics_LA_OC[col].median()

In [15]:
missing_cities_df.head(1)

,City,Median_Age,Median_Income,Normalized_Income,Male_Percent,Hispanic_Percent
0,Palos Verdes Estates,39.0,23900.0,0.33,0.49,0.32

In [16]:
combined = pd.concat([demographics_LA_OC, missing_cities_df]).reset_index(drop=True)

In [17]:
combined.tail()

,City,Median_Age,Median_Income,Normalized_Income,Male_Percent,Hispanic_Percent
192,Unincorporated,39.0,23900.0,0.33,0.49,0.32
193,Palm Springs,39.0,23900.0,0.33,0.49,0.32
194,Unincorporated,39.0,23900.0,0.33,0.49,0.32
195,Banning,39.0,23900.0,0.33,0.49,0.32
196,Jurupa Valley,39.0,23900.0,0.33,0.49,0.32

In [18]:
len(combined)

197

In [19]:
len(all_rent_activity_data)

197

In [20]:
combined_all = pd.merge(combined, all_rent_activity_data.loc[:,'Avg Rent - Office':], right_index=True, left_index=True)

In [21]:
len(combined_all)

197

In [22]:
combined_all

,City,Median_Age,Median_Income,Normalized_Income,Male_Percent,Hispanic_Percent,Avg Rent - Office,Avg Rent - Industrial,Avg Rent - Retail,Soccer_Activity
0,Aliso Viejo,46.0,40000.0,0.76,0.47,0.14,0.00,0.00,0.00,0.0
1,Anaheim,34.0,20000.0,0.22,0.51,0.55,20.55,11.91,21.82,2.0
2,Brea,39.0,31800.0,0.54,0.50,0.34,22.87,9.59,0.00,2.0
3,Buena Park,41.0,24000.0,0.33,0.49,0.28,0.00,0.00,0.00,0.0
4,Costa Mesa,36.0,30000.0,0.49,0.50,0.28,23.33,0.00,27.01,1.0
5,Cypress,41.0,24000.0,0.33,0.49,0.28,0.00,0.00,0.00,0.0
6,Dana Point,48.0,35000.0,0.62,0.50,0.19,25.23,0.00,29.10,1.0
7,Fountain Valley,36.0,30000.0,0.49,0.50,0.28,19.20,0.00,0.00,2.0
8,Fullerton,35.0,23000.0,0.30,0.51,0.45,19.09,0.00,0.00,0.0
9,Garden Grove,38.0,17000.0,0.14,0.48,0.32,0.00,0.00,0.00,0.0
10,Huntington Beach,42.0,31200.0,0.52,0.50,0.19,24.30,0.00,25.50,3.0
11,Irvine,35.0,30000.0,0.49,0.49,0.19,29.36,15.17,0.00,3.0
12,La Habra,40.0,29000.0,0.46,0.50,0.29,0.00,0.00,16.62,0.0
13,La Palma,39.0,24000.0,0.33,0.48,0.32,0.00,0.00,0.00,0.0
14,Laguna Beach,48.0,35000.0,0.62,0.50,0.19,0.00,0.00,0.00,0.0
15,Laguna Hills,46.0,40000.0,0.76,0.47,0.14,25.54,0.00,0.00,0.0
16,Laguna Niguel,48.0,35000.0,0.62,0.50,0.19,0.00,0.00,0.00,0.0
17,Laguna Woods,48.0,35000.0,0.62,0.50,0.19,0.00,0.00,0.00,0.0
18,Lake Forest,37.0,31100.0,0.52,0.48,0.28,21.22,0.00,0.00,0.0
19,Los Alamitos,41.0,24000.0,0.33,0.49,0.28,0.00,0.00,0.00,2.0
20,Mission Viejo,43.0,32000.0,0.54,0.49,0.18,25.27,0.00,27.87,0.0
21,Newport Beach,46.0,40000.0,0.76,0.47,0.14,36.47,0.00,0.00,2.0
22,Orange,35.0,27500.0,0.42,0.49,0.40,25.20,0.00,20.14,1.0
23,Placentia,35.0,23000.0,0.30,0.51,0.45,0.00,0.00,0.00,0.0
24,Rancho Santa Margarita,41.0,39700.0,0.75,0.48,0.17,24.10,0.00,0.00,1.0
25,San Clemente,48.0,35000.0,0.62,0.50,0.19,0.00,0.00,0.00,2.0
26,San Juan Capistrano,48.0,35000.0,0.62,0.50,0.19,0.00,12.70,0.00,2.0
27,Santa Ana,32.0,18700.0,0.19,0.51,0.77,19.89,11.29,24.16,1.0
28,Seal Beach,41.0,24000.0,0.33,0.49,0.28,0.00,0.00,36.80,1.0
29,Stanton,39.0,17100.0,0.14,0.47,0.31,0.00,0.00,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...
167,Perris,39.0,23900.0,0.33,0.49,0.32,0.00,0.00,0.00,0.0
168,Moorpark,39.0,23900.0,0.33,0.49,0.32,0.00,0.00,0.00,0.0
169,Bradbury,39.0,23900.0,0.33,0.49,0.32,0.00,0.00,0.00,0.0
170,Fillmore,39.0,23900.0,0.33,0.49,0.32,0.00,0.00,0.00,0.0
171,Loma Linda,39.0,23900.0,0.33,0.49,0.32,0.00,0.00,0.00,0.0
172,Hidden Hills,39.0,23900.0,0.33,0.49,0.32,0.00,0.00,0.00,0.0
173,Yucaipa,39.0,23900.0,0.33,0.49,0.32,0.00,0.00,0.00,0.0
174,Chino,39.0,23900.0,0.33,0.49,0.32,0.00,0.00,0.00,0.0
175,Adelanto,39.0,23900.0,0.33,0.49,0.32,0.00,0.00,0.00,0.0
176,Colton,39.0,23900.0,0.33,0.49,0.32,0.00,0.00,0.00,0.0
177,Beaumont,39.0,23900.0,0.33,0.49,0.32,0.00,0.00,0.00,0.0
178,Norco,39.0,23900.0,0.33,0.49,0.32,0.00,0.00,0.00,0.0
179,Redlands,39.0,23900.0,0.33,0.49,0.32,0.00,0.00,0.00,0.0
180,Riverside,39.0,23900.0,0.33,0.49,0.32,0.00,0.00,0.00,0.0
181,Rancho Cucamonga,39.0,23900.0,0.33,0.49,0.32,0.00,0.00,0.00,0.0
182,Calimesa,39.0,23900.0,0.33,0.49,0.32,0.00,0.00,0.00,0.0
183,Cathedral City,39.0,23900.0,0.33,0.49,0.32,0.00,0.00,0.00,0.0
184,Brawley,39.0,23900.0,0.33,0.49,0.32,0.00,0.00,0.00,0.0
185,Barstow,39.0,23900.0,0.33,0.49,0.32,0.00,0.00,0.00,0.0
186,Indio,39.0,23900.0,0.33,0.49,0.32,0.00,0.00,0.00,0.0
187,Lake Elsinore,39.0,23900.0,0.33,0.49,0.32,0.00,0.00,0.00,0.0
188,Rolling Hills Estates,39.0,23900.0,0.33,0.49,0.32,0.00,0.00,0.00,0.0
189,Calipatria,39.0,23900.0,0.33,0.49,0.32,0.00,0.00,0.00,0.0
190,Coachella,39.0,23900.0,0.33,0.49,0.32,0.00,0.00,0.00,0.0
191,Unincorporated,39.0,23900.0,0.33,0.49,0.32,0.00,0.00,0.00,0.0
192,Unincorporated,39.0,23900.0,0.33,0.49,0.32,0.00,0.00,0.00,0.0
193,Palm Springs,39.0,23900.0,0.33,0.49,0.32,0.00,0.00,0.00,0.0
194,Unincorporated,39.0,23900.0,0.33,0.49,0.32,0.00,0.00,0.00,0.0
195,Banning,39.0,23900.0,0.33,0.49,0.32,0.00,0.00,0.00,0.0
196,Jurupa Valley,39.0,23900.0,0.33,0.49,0.32,0.00,0.00,0.00,0.0

In [23]:
combined_all.to_csv('combined_all.csv', index=False)

*The columns in this combined df will be joined w/ the mapping shapefile in QGIS

---